section{
    width:90%;
    max-width:1200px;
    margin:auto;
    padding:100px 0;
}

h2{
    text-align:center;
    color:#38bdf8;
    font-size:40px;
    margin-bottom:40px;
}

p{
    line-height:1.8;
}